<nav class="navbar">
    <div class="logo">
        <a href="">
            <img src="https://th.bing.com/th/id/OIG.PBeL0f1MJ94Wwdg3.CCL?pid=ImgGn" alt="" class="img-logo">
        </a>
        <a href="">
            <h1 href="">Lidenbrok</h1>
        </a>
    </div>

    <div class="menu-container">
        <ul class="items" [class.active]="menuActive">
            <li class="nav-item"><a href="home">Home</a></li>
            <li class="nav-item"><a href="contrataciones">Contrataciones</a></li>
            <li class="nav-item"><a href="software">Software</a></li>
            <li class="nav-item"><a href="consejos">Consejos</a></li>
            <li class="nav-item"><a href="respaldos">Respaldos</a></li>
        </ul>
        <i class="fa-solid fa-bars menu-icon" (click)="toggleMenu()" *ngIf="!menuActive"></i>
        <i class="fa-solid fa-x menu-icon" (click)="toggleMenu()" *ngIf="menuActive"></i>
    </div>
</nav>