.footer-section {
    margin-top: 100px;
}

.container {
    background-color: #080f96;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}



/* DATOS DE CONTACTO */
.footer-content {
    border-top: 2px solid aliceblue;
    padding-top: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.single-cta i {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.cta-text h4 {
    margin: 0;
    padding: 0.2rem;
    font-size: 1.2rem;
}



/* DATOS DE FOOTER */
.footer-widget {
    padding: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

img {
    width: 80%;
}

.footer-social-icon {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-social-icon i {
    font-size: 1.5rem;
    color: aliceblue;
    transition: all 0.3s ease;
}

.footer-social-icon i:hover {
    scale: 1.2;

}

.footer-widget-heading {
    font-size: 1.2rem;
    position: relative;
}

.footer-widget-heading::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: #e7e7e9;
    bottom: 15px;
    left: -5px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    color: inherit;
    margin-top: 0.2rem;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
    position: relative;
}

li:hover {
    scale: 1.1;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.subscribe-form {
    width: 100%;
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
}

input {
    width: 70%;
    margin: 15px 0;
    padding: 10px 10px;
    font-size: 1.3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-width: 1px;
    border: 1px solid #e7e7e9;
    background-color: #0f0f165b;
    color: #e7e7e9;
    margin-right: 1px;
}

button {
    width: 18%;
    margin: 15px 0;
    padding: 10px 0;
    font-size: 1.3rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #0f0f16;
    background-color: #0f0f16;
    color: aliceblue;
}

button:hover {
    cursor: pointer;
    scale: 1.1;
}


/* DATOS DE COPY */
.copyright-area {
    border-top: 2px solid aliceblue;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 15px;
    font-size: 13px;
}

.footer-menu ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    font-size: 13px;

}

