<div class="hero">
    <div class="text-hero">
        <h1>Bienvenido a nuestra página web de creación de contenido multimedia</h1>
        <p>Explora nuestra página para conocer más sobre contratación, software de transmisión, consejos y más.</p>
    </div>
</div>

<div class="intro-section">
    <h2>¿Qué puedes esperar de nosotros?</h2>
    <p>En nuestra página web, trabajamos duro para ofrecerte la mejor información sobre la creación de contenido multimedia. Ya sea que estés buscando contratar a un creador de contenido, necesites consejos sobre transmisión en vivo, estés buscando el software de transmisión más adecuado o simplemente necesites algunos consejos y trucos, estás en el lugar correcto. Navega a través de nuestras secciones y descubre todo lo que tenemos para ofrecerte.</p>
</div>

<section id="contratacion" class="info-section">
    <div class="info-image">
        <img src="https://th.bing.com/th/id/OIG.2ayPA6Se4T0Sdgq5FmkQ?pid=ImgGn" alt="Contratación">
    </div>
    <div class="info-text">
        <h2>Contratación de creadores de contenido multimedia</h2>
        <p>Aquí encontrarás información sobre lo que debes tener en cuenta al contratar a alguien para actividades de
            contenido multimedia.</p>
        <button class="info-button" (click)="goToRuta('/contrataciones')">Leer más</button>
    </div>
</section>

<section id="software" class="info-section invert">
    <div class="info-text">
        <h2>Software de transmisión</h2>
        <p>Descubre recomendaciones sobre los programas más recomendados para transmitir contenido.</p>
        <button class="info-button" (click)="goToRuta('/software')">Leer más</button>
    </div>
    <div class="info-image">
        <img src="https://th.bing.com/th/id/OIG._OvRkC9b2.Z.dTHkx7t6?pid=ImgGn&w=1024&h=1024&rs=1" alt="Software">
    </div>
</section>

<section id="consejos" class="info-section">
    <div class="info-image">
        <img src="https://th.bing.com/th/id/OIG.K_V6ctjQrf3Oi9kPKuuA?pid=ImgGn" alt="Consejos">
    </div>
    <div class="info-text">
        <h2>Consejos para la transmisión</h2>
        <p>Consejos y mejores prácticas para realizar transmisiones o grabaciones de contenido en Stream.</p>
        <button class="info-button" (click)="goToRuta('/faq')">Leer más</button>
    </div>
</section>

<section id="respaldos" class="info-section invert">
    <div class="info-text">
        <h2>Respaldos y contingencias</h2>
        <p>Aprende sobre la importancia de tener un plan de respaldo en caso de eventualidades de transmisión.</p>
        <button class="info-button" (click)="goToRuta('/respaldo')">Leer más</button>
    </div>
    <div class="info-image">
        <img src="https://th.bing.com/th/id/OIG.puGKDmPQYfIhZO_e2wzr?pid=ImgGn" alt="Respaldos">
    </div>
</section>