<div class="hero">
    <h1>Software de transmisión</h1>
    <p>Descubre las mejores herramientas de transmisión para tus necesidades multimedia.</p>
</div>

<section class="software-section">
    <div class="software-image">
        <img src="assets/OBS-Logo.png" alt="OBS">
    </div>
    <div class="software-info">
        <h2>OBS Studio</h2>
        <p>OBS Studio es un software de transmisión gratuito y de código abierto con capacidades de grabación y
            transmisión en vivo. Es ampliamente utilizado por los streamers debido a su flexibilidad y potentes
            funciones.</p>
        <a href="https://obsproject.com/" target="_blank" class="software-link">Más Información</a>
    </div>
</section>

<section class="software-section">
    <div class="software-image">
        <img src="assets/streamlabs-logo2.png"
            alt="Streamlabs">
    </div>
    <div class="software-info">
        <h2>Streamlabs OBS</h2>
        <p>Streamlabs OBS es una opción popular para la transmisión de juegos que ofrece un montón de plantillas y una
            integración sencilla con plataformas de streaming.</p>
        <a href="https://streamlabs.com/" target="_blank" class="software-link">Más Información</a>
    </div>
</section>

<section class="software-section">
    <div class="software-image">
        <img src="assets/XSPLIT-logo.png"
            alt="XSplit Broadcaster">
    </div>
    <div class="software-info">
        <h2>XSplit Broadcaster</h2>
        <p>XSplit Broadcaster es un software de transmisión en vivo popular entre los gamers. No es gratuito, pero tiene
            un conjunto de características más avanzado que muchas de las opciones gratuitas.</p>
        <a href="https://www.xsplit.com/broadcaster" target="_blank" class="software-link">Más Información</a>
    </div>
</section>

<section class="software-section">
    <div class="software-image">
        <img src="assets/wirecast-logo.png"
            alt="Wirecast">
    </div>
    <div class="software-info">
        <h2>Wirecast</h2>
        <p>Este es un software de transmisión en vivo más profesional, utilizado a menudo para transmisiones de mayor
            producción. Es un programa de pago, pero ofrece un conjunto de características extremadamente amplio y
            potente.</p>
        <a href="https://www.telestream.net/wirecast/" target="_blank" class="software-link">Más Información</a>
    </div>
</section>

<section class="software-section">
    <div class="software-image">
        <img src="assets/LightStream-Logo.png"
            alt="Lightstream">
    </div>
    <div class="software-info">
        <h2>Lightstream</h2>
        <p>Este es un software de transmisión en la nube, lo que significa que no necesitas un hardware potente para
            ejecutarlo. Lightstream ofrece características que lo hacen útil tanto para principiantes como para usuarios
            experimentados.</p>
        <a href="https://golightstream.com/" target="_blank" class="software-link">Más Información</a>
    </div>
</section>

<section class="software-section">
    <div class="software-image">
        <img src="assets/twitch-logo.webp"
            alt="Twitch Studio">
    </div>
    <div class="software-info">
        <h2>Twitch Studio</h2>
        <p>Desarrollado por Twitch para facilitar la transmisión en su plataforma. Es más limitado en términos de
            características en comparación con opciones como OBS Studio, pero es más fácil de usar para los
            principiantes.</p>
        <a href="https://www.twitch.tv/broadcast/studio" target="_blank" class="software-link">Más Información</a>
    </div>
</section>